// Card
.CardJob_wrapper {
    margin-bottom: 1rem;
    min-height: 11rem;
    padding: 12px;
    border-radius: 10px;
    border: 1px solid #33373b;
}

.priority {
    border-color: #c71585;
    border-width: 1.5px;
}

.CardJob_head {
    cursor: pointer;
    user-select: none;

    &:hover {
        opacity: 0.8;
    }
}

.CardJob_IconAngles {
    transition: transform 0.2s linear;
}

.rotated {
    transform: rotate(180deg);
}
